<template>
  <div class="moncompte">
    <div v-if="authenticated">
      <div>
        <!-- <p>{{ $t('auth.user.authenticated') }}</p> -->
        <p>{{ user.name }} ({{ user.email }} {{ user.exp }})</p>
      </div>
    </div>
    <div v-else>
      <!-- <p>{{ $t('auth.user.anonymous') }}</p> -->
      anonymous
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { KeycloakService } from "../keycloakservice";

export default class UserInfo extends Vue {
  get authenticated() {
    return KeycloakService.keycloak.authenticated;
  }
  get user() {
    return KeycloakService.keycloak.tokenParsed;
  }
}
</script>

<style scoped lang="scss">
.m-user-info {
  margin: 30px 0;
}
</style>
